<?xml version="1.0"?>
<System>
	<Page>
		<tabHardDisk>存储管理</tabHardDisk>
		<tabTimerRestart>定时重启</tabTimerRestart>
		<tabInstallCfg>安装配置</tabInstallCfg>
		<tabUpdateCfg>系统维护</tabUpdateCfg>
		<laDiskNumer>序号</laDiskNumer>
		<laCapacity>容量</laCapacity>
		<laFreeSpace>剩余空间</laFreeSpace>
		<laState>状态</laState>
		<laOpt>操作</laOpt>
		<laDiskInit>硬盘初始化</laDiskInit>
		<formatDisk>格式化</formatDisk>
		<laRebootTime>重启时间：</laRebootTime>
		<laRepeat>重复周期：</laRepeat>
		<laSunday>星期天</laSunday>
		<laMonday>星期一</laMonday>
		<laSelTuesday>星期二</laSelTuesday>
		<laWednesday>星期三</laWednesday>
		<laThursday>星期四</laThursday>
		<laFriday>星期五</laFriday>
		<laSaturday>星期六</laSaturday>
		<laSelDayAll>每天</laSelDayAll>
		<laChnInstall>装机视频通道</laChnInstall>
		<laChnSel>选择通道：</laChnSel>
		<laChn1>通道1</laChn1>
		<laChn2>通道2</laChn2>
		<laChn3>通道3</laChn3>
		<laChn4>通道4</laChn4>
		<laRebootDelayCheck>开机视频通道缺失延时检测时间(秒)：</laRebootDelayCheck>
		<laSystem>系统维护</laSystem>
		<laRestart>重新启动</laRestart>
		<laShutDown>关机</laShutDown>
		<laDefault>系统还原</laDefault>
		<btnSimpleRestore>简单参数恢复</btnSimpleRestore>
		<btnCompleteRestore>恢复出厂设置</btnCompleteRestore>
		<laParamImport>载入配置</laParamImport>
		<laParamExport>备份</laParamExport>
		<fileExportTip>点击此按钮可以备份主机的当前配置</fileExportTip>
		<btnImportFile>载入配置</btnImportFile>
		<btnExportFile>导出配置</btnExportFile>
		<laRemoteUpgrade>系统升级</laRemoteUpgrade>
		<btnUpgrade>软件升级</btnUpgrade>
		<fileImportTip>请选择配置文件，然后点击载入配置按钮</fileImportTip>
		<laUpdateTarget>升级目标：</laUpdateTarget>
		<mainFile>主应用升级</mainFile>
		<peripheralFile>外围控制器升级</peripheralFile>
		<upgradeFileTip>请选择升级软件，然后点击软件升级按钮进行升级</upgradeFileTip>
		<restoreTip>注意：恢复出厂设置将使主机的所有配置恢复到出厂时的默认状态。</restoreTip>
	</Page>
	<Js>
		<btnSave>保存</btnSave>
		<diskNormal>正常</diskNormal>
		<diskUnformatted>未格式化</diskUnformatted>
		<diskError>错误</diskError>
		<dialogTitle>系统提示</dialogTitle>
		<dialogContent1>真的要格式化存储设备吗？</dialogContent1>
		<btnConfirm>确定</btnConfirm>
		<btnCancel>取消</btnCancel>
		<tipsSelectDisk>请选择硬盘</tipsSelectDisk>
		<tipsFormatSelect>请确认是否需要格式化存储设备</tipsFormatSelect>
		<tipsDiskFormatWait>正在格式化...</tipsDiskFormatWait>
		<tipsDiskFormatSucess>格式化成功</tipsDiskFormatSucess>
		<tipsFormatFailed>格式化失败</tipsFormatFailed>
		<optOK>操作成功</optOK>
		<RestartAsk>是否要重启设备？</RestartAsk>
		<ShutDownAsk>是否要关闭设备？</ShutDownAsk>
		<Restart>正在重新启动请稍后！</Restart>
		<tipsRestoreReboot>恢复默认值完成后设备将自动重启，确定恢复？</tipsRestoreReboot>
		<ImportSuccess>配置载入成功</ImportSuccess>
		<ExportSuccess>配置导出成功</ExportSuccess>
		<UpgradeSuccess>升级成功</UpgradeSuccess>
		<ImportUping>没有指定配置文件</ImportUping>
		<ImportRebootTips>导入配置参数设备将自动重启，确定导入？</ImportRebootTips>
		<jsPgVersionMisMatch>升级包版本不匹配</jsPgVersionMisMatch>
		<jsTransferProtocolError>传输协议错误</jsTransferProtocolError>
		<tipsSameSoftVersion>已经是最新版本</tipsSameSoftVersion>
		<tipsUpgradeFileErr>升级文件错误</tipsUpgradeFileErr>
		<tipsUpgradeTimeout>升级超时</tipsUpgradeTimeout>
		<laProcess>升级进度</laProcess>
		<tipsIEBrowserNoSupport>IE 浏览器不支持此功能</tipsIEBrowserNoSupport>
		<jsUpdateFile>没有指定升级文件</jsUpdateFile>
		<laUpdateFileSel>升级目标选择</laUpdateFileSel>
		<tipsNoMemory>内存不足</tipsNoMemory>
		<jsPgTypeMisMatch>升级包类型不匹配</jsPgTypeMisMatch>
		<tipsUpgradeReboot>升级完成后设备将自动重启，确定升级？</tipsUpgradeReboot>
	</Js>
</System>